
.person {
    width: 120px;
    height: 120px;
    background: url('../img/boy.jpg') center 0/100% auto no-repeat;
    border-radius: 10px;
    font-size:0;
    position:absolute;
    bottom:1px;    
    transition: transform 0.3s;
    z-index: $indexPerson;
}

.jumped {
    transform:translateY(-100px);
}

.base {
    position:absolute;
    height:$base-size;
    top:50%;
    margin-top:-#{$base-size/2};
    width:100%;
}

.obstacles {
    border-bottom:1px dotted darken($gray, 40%);
    overflow:hidden;
    padding-top:170px;
    height: $obstacle-size;
    position:relative;
    z-index: $indexObstacles;
}

.obstacle {
    background:#000;
    width:20px;
    height:50px;
    display:block;
    border-radius: 10px 20px 0 0;
    box-shadow: #fff 0 0 16px;
    transform: translateX(600px);
    transition: transform 0.3s;

    &-mini {
        @include size(10px, 30px);
    }

    &-medium {
        @include size(15px, 40px);
    }

    &-large {
        @include size(30px, 80px);
    }
}